.home-content {
  --background: transparent;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100% - 120px);
  padding: 1rem;
  text-align: center;
}

.app-logo {
  height: auto;
  object-fit: contain;
  max-width: 220px;
}

.logo-section {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  height: 50%;
  display: flex;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 300px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  height: 50%;
  justify-content: center;
}

.logo-section.hidden,
.menu-buttons.hidden,
.top-icon-buttons.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Custom play button with gradient styling */
.custom-button {
  background: linear-gradient(#88c1ef, #3594ef);
  border-radius: 999px;
  box-shadow: 0 4px 0 #145b9e;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  height: 48px;
  font-family: 'DragonFruitDays', sans-serif;
  font-size: 1.2rem;
  min-width: 200px;
  height: 60px;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  width: calc(100% + 2px);
  height: 100%;
  background: transparent;
  box-shadow: 0 8px 0 #145b9e;
  border-radius: 999px;
  z-index: -1;
}

.custom-button:hover {
  opacity: 1;
}

.custom-button:active {
  transform: scale(0.95);
}

.custom-button.secondary-button {
  background: linear-gradient(#e999d3, #d031a7);
  box-shadow: 0 4px 0 #640a4e;
}
.custom-button.secondary-button::before {
  box-shadow: 0 8px 0 #640a4e;
}
.custom-button.warning-button {
  background: linear-gradient(#f1c40f, #8a710c);
  box-shadow: 0 4px 0 #8a710c;
}
.custom-button.warning-button::before {
  box-shadow: 0 8px 0 #8a710c;
}

.custom-button.small-button {
  font-size: 1.2rem;
  height: 40px;
  min-width: 150px;
}

/* Top icon buttons styling */
.top-icon-buttons {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}

.icon-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #8b3d00;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-button-icon {
  font-size: 20px;
  color: white;
}

.icon-button.custom-button {
  min-width: inherit;
}

.header-background{
  backdrop-filter: none !important;
}